* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    color: blue;
    margin: 20px;  
    

}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    
}